{% extends 'base.html' %}
{% block body %}
    <overflow-y class="container-fluid">
        <button type="submit" class="btn btn-success" onclick="location.reload();">刷新列表</button>
        {% comment %} <span class="label label-danger">默认扫描</span> {% endcomment %}
        <div>
        <textarea  type="text" class="form-control" id="add" rows="4" style="OVERFLOW" value="http://test.vulnweb.com/">http://test.vulnweb.com</textarea>
            {% comment %} <input type="text" class="form-control" id="add"  value="http://test.vulnweb.com/"> {% endcomment %}
            
            <form>
            <span class="label label-danger">扫描模式</span>    
            
                <label class="checkbox-inline"><input name="level" type="radio" value="default" checked="checked"/>默认模式</label> 
                <label class="checkbox-inline"><input name="level" type="radio" value="high" />高危模式</label> 
            </form>
            
            
            
            <form>
            <span class="label label-danger">目标分组</span>    
            <label class="checkbox-inline"><input name="test" type="checkbox" value="" checked="checked"/>默认</label>
            {% for group in groups %}
                <label class="checkbox-inline"><input name="groups" type="checkbox" value="{{group.id}}" />{{group.name}} </label> 
            {% endfor %}
            </form>
            <button type="button" class="btn btn-primary" onclick="moreadd()">添加扫描</button>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Address</th>
                <th>ScanID</th>
                <th>Description</th>
                <th>Status</th>
                <th>Rstart</th>
                <th>Stop</th>
                <th>Delete</th>
                <th>Detail</th>
                <th>生成导出报告</th>
            </tr>
            </thead>
            <tbody>
            


           



            {% for scan in scan_list %}
            
                <tr>      
                    <td>{{ scan.address }}</td>
                    <td>{{ scan.scanid }}</td>
                    <td>{{ scan.description }}</td>
                    <td>{{ scan.status }}</td>
                    <td>
                        <button type="submit" id="stop" class="btn btn-default" onclick="restart('{{ scan.scanid }}','{{ scan.address }}')">重新
                        </button>
                    </td>
                    <td>
                        <button type="submit" id="stop" class="btn btn-default" onclick="stop('{{ scan.scanid }}','{{ scan.status }}')">停止
                        </button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-default" onclick="del('{{ scan.scanid }}')">删除</button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-default" data-toggle="modal"
                                data-target=".bs-example-modal-lg"
                                onclick="getvulns('{{ scan.scanid }}')">任务详情
                        </button>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-default" onclick="bg('{{ scan.scanid }}')">导出报告</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        
        <!-- Modal -->
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">漏洞详情</h4>
                    </div>
                    <div class="modal-body">
                        <table>
                            <thead>
                            <tr>
                                <th>漏洞类型</th>
                                <th>危害等级</th>
                                <th>漏洞地址</th>
                                <th>参数</th>
                            </tr>
                            </thead>
                            <tbody id="vuln">
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function getvulns(scanid) {
                $.post('api/awvs13/getvulns', {'scanid': scanid}, function (results) {
                    tr = ''
                    for (var i = 0; i < results.length; i++) {
                        if (results[i]['severity']==3){results[i]['severity']='高危'}
                        if (results[i]['severity']==2){results[i]['severity']='中危'}
                        if (results[i]['severity']==1){results[i]['severity']='低危'}
                        if (results[i]['severity']==0){results[i]['severity']='信息'}

                        if (results[i]['affects_detail']) {
                            tr += '<tr id=' + i + '><td>' + results[i]['vt_name'] + '</td><td>' + results[i]['severity'] + '</td><td>' + results[i]['affects_url'] + '</td><td>' + results[i]['affects_detail'] + '</td></tr>'
                        } else {
                            tr += '<tr id=' + i + '><td>' + results[i]['vt_name'] + '</td><td>' + results[i]['severity'] + '</td><td>' + results[i]['affects_url'] + '</td><td>空</td></tr>'
                        }
                        $('#vuln').html(tr)

                        
                        {% comment %} console.log(results[i]['vt_name'])
                        console.log(results[i]['severity'])
                        console.log(results[i]['affects_url'])
                        console.log(results[i]['affects_detail']) {% endcomment %}
                    }
                }, "json")
            }
            function hhstatus(status) {
                        alert(status)
            }

            function del(scanid) {
                $.post('api/awvs13/delscan', {"scanid": scanid}, function (results) {
                    if (results == 1) {
                        alert('删除成功')
                        location.reload()
                    } else {
                        alert('删除失败')
                        location.reload()
                    }
                })
            }
            function restart(scanid,address) {
                stop(scanid)
                add(address)

            }

            function stop(scanid,status) {
                if(status =='进行中'){
                $.post('api/awvs13/stopscan', {"scanid": scanid}, function (results) {
                    if (results == 1) {
                        alert('停止成功')
                        location.reload()
                    } else {
                        alert('停止失败')
                        location.reload()
                    }
                })
                }
                else{alert('已停止')}
            }

            function add() {
                var groups = document.getElementsByName("groups");
                var groups1=[];
                i=0;
                for (let index = 0; index < groups.length; index++) {
                    
                if (groups[index].checked) {
                    groups1[i++]=groups[index].value;
                    }
                }
                var level =$("input[type='radio']:checked").val()

                if ($('#add').val() !== '') {
                    awvs_add = 'api/awvs13/addscan'
                    target = $('#add').val()
                    $.post(awvs_add, {'target': target,'groups':groups1,'level':level}, function (results) {
                        if (results == 1) {
                            alert('添加成功')
                            location.reload()
                        } else {
                            alert('添加失败')
                            location.reload()
                        }
                    });
                } else {
                    alert('扫描目标不能为空！')
                }
            }

            function moreadd() {
                var groups = document.getElementsByName("groups");
                var groups1=[];
                i=0;
                for (let index = 0; index < groups.length; index++) {
                    
                if (groups[index].checked) {
                    groups1[i++]=groups[index].value;
                    }
                }
                var level =$("input[type='radio']:checked").val()

                if ($('#add').val() !== '') {
                    awvs_add = 'api/awvs13/moreadd'
                    target = $('#add').val()
                    $.post(awvs_add, {'target': target,'groups':groups1,'level':level}, function (results) {
                        if (results == 1) {
                            alert('添加成功')
                            location.reload()
                        } else {
                            alert('添加失败')
                            location.reload()
                        }
                    });
                } else {
                    alert('扫描目标不能为空！')
                }
            }

            function bg(scanid) {
                alert('开始导出')
                $.post('api/awvs13/Presentation', {"scanid": scanid}, function (results) {
                    if (results == 1) {
                        alert('导出成功')
                        location.reload()
                    } else {
                        alert('导出失败')
                        location.reload()
                    }
                })
            }
        </script>
        <div>
{% endblock %}