{% extends 'base.html' %}

{% block body %}
    <form id="form" method="post" action="">
        {% csrf_token %}
        {{ form }}
        <input type="submit" name="submit" value="提交"/>
    </form>
    你要查询的域名是{{ domain }},IP是{{ ip }}<br>
    {% if info %}
        <h1>旁站</h1>
        {% for i in info %}
            <p><b>{{ i.domain }}</b>    {% if i.title %}{{ i.title }}{% else %}没有标题{% endif %}       </p>
            {% comment %} {% if i.title %}
                <p>{{ i.title }}</p>
            {% else %}
                <p>没有标题</p>
            {% endif %} {% endcomment %}
        {% endfor %}
    {% endif %}
    {% if cduan %}
        <h1>C段</h1>
        {{ cduan }}
    {% endif %}

{% endblock %}